/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */

  table{
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    /* margin-left: 10%;
    margin-right: 10%; */
}

body{
    margin-top: 30px;
    background-color: #F6FAFB;
}

.cardContainer{
    box-shadow: 2px 4px 10px 3px #00000035;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 25px;
}


.cardInfo{
    font-size: 24px;
}

.trashIcon{
    color: red;
    font-size: 32px;
}

.deleteCol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete{
    text-decoration: line-through;
    color: rgb(97, 97, 97);
}